body {
    font-family: Arial, sans-serif;
    background-color: #0a133d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.containers {
    background-color: #6374c2ab;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(216, 216, 216, 0.2);
    width: 600px;
    text-align: center;
    padding-bottom: 50px;
}


form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    background-color: #6374c2ab;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #525eb9;
}

table {
    width: 100%;
    border-collapse:separate;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 1px;
}

th {
    background-color: #6374c2ab;
    color: white;
    text-align: center;
}

td {
    background-color: #e0e0e0;
    text-align: center;
}

button {
    padding: 10px 16px;
    border-radius: 2px;
    background-color: #6374c2ab;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0a133d;
}
