body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 70px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0062cc;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
body {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}

.heading {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} 

.heading h1 {
  font-size: 4.3em;
  letter-spacing: -4px;
  font-weight: 700;
  color: #7e2ea0;
  text-align: center;
  margin: 0 auto;
}

.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.heading {
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #7E2EA0;
  animation: typing 2s steps(12, end), cursor .5s steps(12, end) infinite;
}
@keyframes typing {
  from { width: 0 }
}
@keyframes cursor {
  50% { border-color: transparent }
}
