body{
margin: 0;
padding: 0;
background-size: cover;
font-family: Georgia, 'Times New Roman', Times, serif;


}
.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
    margin-left: 100px;
background-color: #ffffff;
width: 25rem;
padding: 2.5rem;
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 10px;
height: 500px ;
box-shadow: 20px 20px 60px #0a0a0a18, inset -20px -20px 60px rgba(151, 139, 139, 0.185);;
}
.google-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
}
.container h2 {
    color: rgb(0, 0, 0);
    margin: 0 0 --0.125rem;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.container p {
    font-weight:medium;
    font-size: 13px;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;

}
.container .para p  {
    font-size: 12px;
    text-align: left;
}
.container .inpuntbox{
    position: relative;
} 
.container .inpuntbox input[type="Email"]{
    display: block;
    border: 1px solid #0554ff;
    font-size: 16px;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    position: relative;
}
.container .inpuntbox input[type="Email"]:target ~ .input-label {
    top: -7px;
    color: #0554ff;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }
.container .inpuntbox label{
  color: #0554ff;
  font-size: 12px;
}
.container .inpuntbox:hover{
    border: #0554ff;
}
.container a {
    text-decoration: none;
    color: #0450f5;
    font-size: 13px;
    display: block;
}
.linkbtn {
    margin-bottom: 2rem;
  }
.btns{
    display: flex;
    justify-content: space-between;
}
.create-btn{
    border: none;
  background-color: transparent;
  color: #0450f5;
  font-weight: normal;
  cursor: pointer;
  height: 35px;
  padding: 10px 5px;
}
.next-btn{
    background-color: #0450f5;
  color: white;
  border: none;
  height: 38px;
  padding: 0 25px;
  border-radius: 5px;
  cursor: pointer;
}
.create-btn:hover {
    background-color: #e8f2ff6e;
    /* transition: 0.2s all ease-in; */
  }
  .next-btn:hover {
    background-color: #1864c9;
  }

